*{
	margin:0;
	padding:0;
	font-family:segoe ui,arial,sans-serif;
}
body{
	background-color:#00fa9a;
	background-image: url("https://lh3.googleusercontent.com/-zGiY_f8hOFc/VEicTpeyqMI/AAAAAAAAADE/-pXLk4YAdU0/w699-h98-no/baru.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Museo Slab 500", impact,arial,sans-serif;
	text-shadow: 6px 6px 6px green;
	font-weight: normal;
}
#wrapper{
	width:720px;
	margin:0 auto;
}
#header{ 
	overflow: hidden;
	margin-bottom: 20px;
	padding:30px 0 
}
#logo{ 
	font-family:"Museo Slab 500", impact, sans-serif;
	float:left;
	font-size: 40px;
}
#menu{ 
	float:right; 
	list-style:none;
	margin-top:10px;
}
#menu li{ display: inline }
#menu li a{ 
	padding:5px 10px;
	border-right: 1px dashed #aeb59c;
	text-decoration: none;
	color:blue;
}
#menu li:last-child a{ border-right:none }
#slideshow{
	position:relative;
}
#slideshow h1{
	position:absolute;
	bottom:20px;
	left:20px;
	font-weight:normal;
}
#slideshow h1 a{
	color:springgreen;
	font-family:"Museo Slab 500",impact,sans-serif;
	font-weight: normal;
	text-decoration:none;
}

#artikel{
  width:470px;
  float:left;
  color:#008080;
}

.artikel{
  background-image: url("https://lh6.googleusercontent.com/-TKG5_-X6hNc/VEifyQnaRhI/AAAAAAAAAEk/biaIzq9IsM8/w699-h98-no/img.jpg");
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
  overflow:hidden;
  color:Green;
}
#footer p{float:left;}
#footer-menu{
	float:left;
	margin-left:30px;
	list-style:none;
}

#footer-menu li{
	display:inline;
	margin-right:20px;
}
#footer-menu li a{
	color:#a52a2a;
	text-decoration:none;
}
.bjqs-next a, .bjqs-prev a {
	color:white;
	text-decoration: none;
	background:Green;
	padding: 5px 10px;
}
